:root{
    /* Основные шрифты */
    --main-font: "Roboto" , sans-serif;
    --secondary-font: "Raleway" , sans-serif;

    /* Основные цвета */
    --primery-text-color: #757575;
    --primery-white-color: #ffffff;
    --primery-title-color: #212121;
    --accent-color: #2196f3;
    --primery-team-color: #F5F4FA;
    --primery-background-color: #2F303A;
}
   /*body*/

body {
    font-family: var(--main-font);
    color: var(--primery-title-color);
    background-color: var(--primery-white-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    text-decoration: none;
}
a { text-decoration: none; }
ul { list-style: none; }
h1, h2, h3, h4, p, ul, ol {
    margin: 0;
    margin-bottom: 0;
}
.container
{
width: 1230px;
padding-left:15px;
padding-right: 15px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/*head*/
/*logo*/
.header-container {
    display: flex;
   justify-content: baseline;
   align-items: baseline;
    
}
.logo {
    padding-left: 15;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.14;
    color: var(--primery-title-color);
}
.logo-first-part {
    color: var(--accent-color);}

.logo:hover, .logo:focus{
    color: var(--accent-color);
}

/*nav*/

.container .nav-countainer{
    display: flex;
}

.header {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
    font-style: normal;
}

.nav-link-stydio, .nav-link-portfolio, .nav-link-contact {
    text-align: left;
    color: var(--primery-title-color);
}
.nav-link-stydio:focus, .nav-link-portfolio:focus, .nav-link-contact:focus,
.nav-link-stydio:hover, .nav-link-portfolio:hover, .nav-link-contact:hover {
    color: var(--accent-color);
}

/*contact*/
.container .contact-countainer{
    display: flex;
}
.contact-link-mailto , .contact-link-tel {
    color: var(--primery-text-color);
}

.contact-link-mailto:hover , .contact-link-tel:hover,
.contact-link-mailto:focus , .contact-link-tel:focus
{
    color: var(--accent-color);
}

/*section hero*/
.hero-countainer{
    display: inline-block;
    padding-top: 200px;
    padding-bottom: 200px;

}
.hero{
    background-color: var(--primery-background-color);
    color: var(--primery-white-color);
    text-align: center;
}

.hero-title {
    height: 120px;
    background-color: aqua;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}

/*hero-button*/

.hero-button {

    font-family: inherit;
    color: var(--primery-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;  
    text-align: center;
    margin-top: 30px; 
}
.container .product-container{
    
}
.hang-text{
    color: var(--primery-text-color)
}

/*section team*/

.team {
    background-color: var(--primery-team-color);
    line-height: 1.18
}

.product-title, .team-title{   
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.teammate-major{
    color:var(--primery-text-color) ;
}
.teammate-name{
    font-weight: 500;
    font-size: 16px;
}



/*portfolio filter*/

.page-filters-btn{
    font-family: inherit;
    background-color: var(--primery-team-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
}
.page-filters-btn:hover ,
.page-filters-btn:focus{
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
 
/*work examples*/

.page-item-link{
    color: var(--pimery-title-color);
}

.page-subtitle{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.page-text{
    color: var(--primery-text-color);
    font-size: 16px;
    line-height: 1.87}

    /*footer*/

.footer{
    background-color: var(--primery-background-color);
}

.footer-logo{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primery-white-color)}

.footer-logo-first-part {
    color: var(--accent-color);}

.footer-logo:hover ,
.footer-logo:focus {
    color: var(--accent-color);
}

/*adress*/
.address-list{
    font-style: normal;
}
.footer-address-link{
    color: var(--primery-white-color);
    line-height: 1.71;  
}

.footer-mail-link , .footer-tel-link{
    color: rgba(255, 255, 255, 0.6); 
    
}
.footer-address-link:hover, .footer-mail-link:hover, .footer-tel-link:hover,
.footer-address-link:focus, .footer-mail-link:focus, .footer-tel-link:focus{
    color: var(--accent-color);
}






